:root {
  --color-primary: #4f46e5;
  --color-primary-hover: #4338ca;
  --color-accent: #10b981;

  --dashboard-nav: black;
  --dashboard-search-btn: #4361ee;
  --dashboard-search-btn-hover: #3b5bdc;
  --dashboard-search-input: #f0f0f0;
  --dashboard-search-input-hover: #e0e0e0;
  --dashboard-search-input-focus: #d0d0d0;
  --dashboard-search-input-border: #c0c0c0;
  --dashboard-links: #4361ee;
  --dashboard-links-hover: #3b5bdc;

  --color-bg-light: #f9fafb;
  --color-bg-dark: #111827;
  --color-surface: #ffffff;

  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;

  --color-border: #e5e7eb;
  --color-error: #ef4444;

  --font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg-light);
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.5;
}


/* Hero Section */
.hero {
  background-color: var(--color-bg-light);
  color: var(--color-text-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem;
  border-bottom: 2px solid var(--color-border);
}
.hero h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.hero p {
  font-size: 1rem;
  margin-bottom: 2rem;
  width: 90%;
  max-width: 600px;
}
.hero button {
  background-color: var(--dashboard-links);
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 12px;
  font-size: 1.2rem;
  cursor: pointer;
}
.hero button:hover {
  background-color: var(--dashboard-links-hover);
}

/* Card Layout */
.cardLayout {
  background-color: var(--color-surface);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}
.cardLayout .featureCards {
  background-color: var(--color-surface);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 300px;
  transition: transform 0.3s;
}
.cardLayout .featureCards:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
.cardLayout .featureCards h3 {
  border-bottom: 1px solid var(--color-border);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.cardLayout .featureCards p {
  color: var(--color-text-secondary);
}


/* Responsive Media Queries */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 1.8rem;
  }

  .hero p {
    font-size: 0.95rem;
    width: 90%;
  }

  .hero button {
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
  }

  .cardLayout {
    padding: 1rem;
    gap: 1.5rem;
  }

  .cardLayout .featureCards {
    width: 90%;
    padding: 1.5rem;
  }
}

@media (max-width: 480px) {
  .navbar p {
    font-size: 1.2rem;
  }

  .hero h1 {
    font-size: 1.5rem;
  }

  .hero button {
    font-size: 0.95rem;
    padding: 0.7rem 1.2rem;
  }
  footer {
    font-size: 0.85rem;
    padding: 0.8rem;
  }
}
