:root {
    --color-primary: #4f46e5;
    --color-primary-hover: #4338ca;
    --color-accent: #10b981;

    --dashboard-nav: black;
    --dashboard-search-btn: #2584ff;
    --dashboard-search-btn-hover: #1e6acf;
    --dashboard-search-input: #f0f0f0;
    --dashboard-search-input-hover: #e0e0e0;
    --dashboard-search-input-focus: #d0d0d0;
    --dashboard-search-input-border: #c0c0c0;
    --dashboard-links: #2584ff;
    --dashboard-links-hover: #1e6acf; 

    --color-bg-light: #f9fafb;
    --color-bg-dark: #111827;
    --color-surface: #ffffff;

    --color-text-primary: #111827;
    --color-text-secondary: #6b7280;

    --color-border: #e5e7eb;
    --color-error: #ef4444;

    --font-family: "Poppins", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-bg-light);
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
}
main {
    flex: 1;
    padding: 20px;
}
.dashboardContainer{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.milestoneCardContainer{
    /* border: 2px solid black; */
    height: 25vh;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;

}
.milestoneCard{
    height: 100%;
    width: 35%;
    border: 1px solid var(--dashboard-links);
    border-radius: 8px;
}
.milestoneCardInfo{
    display: flex;
    flex-direction: column;
}
.milestoneCardInfo h2{
/* color properties */
display: block;
width: 100%;
text-align: center;
padding-top: 5px;
}
.milestoneCardInfo ul{
    list-style: none;
    padding: 10px;
}
.milestoneCardProgress{
    padding: 10px;
    border-top: 1px solid #999;
}
.progressBar{
    border: 1px solid black;
    border-radius: 13px;
}
.progressBarFill{
    border: 4px solid green;
    width: 75%;
    border-radius: 10px;
}



.annoucementCardContainer{
    margin-top: 20px;
    border: 2px solid blue;
    height: 40vh;
    background-color: pink;
}
.annoucementCard2{
    overflow: hidden;
}
.annoucementCardInfo{
    border: 2px solid green;

}